.works{
    color: #fff;
    border-radius: 30px;
    margin: 10%;
    padding: 5%;
    background-color: rgb(216,114,218, 0.2);
    backdrop-filter: blur(5px);
}

.table-container {
    width: 100%;
    max-width: 98%;
    margin: 0px;
    padding: 1%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 5px 10px rgb(255, 254, 255);
    font-size: 12px;
}

.league-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: #fff;
}

.league-table tr, th, td{
    padding: 2%;
}

.league-table th{
    font-size: 16px;
}

.skil{
    width: 100%;
    max-width: 98%;
    margin: 0px;
    margin-top: 5%;
    padding: 1%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 5px 10px rgb(255, 254, 255);
}